
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1);

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: whitesmoke;
}

main {
    padding: 100px 30px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    max-width: 900px;
    margin-bottom: calc(var(--footer-height));
}

header{
    text-align: center;
    font-size: 2em;
}

.pika-stack {
    grid-column-start: 2;
}

.pika-stack {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    width: 100%;
    min-width: 900px;
}

.pika-top {
    grid-column: 1 / span 9;
    grid-row: 1;
    z-index: 1;
    padding-top: 35%;
}

.lightning.bottom {
    grid-column: 4 / -1;
    grid-row: 1;
}